@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@font-face {
    font-family: 'Edo';
    font-style: normal;
    font-weight: normal;
    src: local('Edo'), url('/fonts/edo.woff') format('woff');
    }



:root{                                                              /*VARIÁVEIS*/
    --bgc: rgb(7, 7, 7); /*BG Color Geral */
    --fontc-main: white; /*Font Color Geral*/
    --bgc-song-cards: white; /*BG Color Song Cards */
    --fontc-song-cards: rgb(7, 7, 7); /*Font Color Song Cards */
    --bgc-ultimosl: rgb(8.5, 8.5,8.5); /*BG Color Ultimos Lançamentos */
    --bgc-obras: rgb(10, 10, 10); /*BG Color Obras */
    --bgc-contactos-button: #b8b0fd; /*BG Color Contactos Button */
    --bgc-footer: rgba(46, 4, 130, 0.2); /*BG Color Contactos Button */
    --fontc-contactos-button: white;/*Font Color Contactos Button */
                                    
}


body{
    background-color: var(--bgc);
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    color: var(--fontc-main);
    font-family: 'Marmelad', sans-serif;
}

.geral{
    margin-bottom: 100px;
    padding-right: 50px;
    padding-left: 50px;
    border: 0px;
 /*  border-style: outset;
    border-color: rgba(255, 255, 255, 0.08);
    border-right: rgba(0,0,0,0);
    border-left: rgba(0,0,0,0);
    padding-top: 50px;
    border-radius: 2%;    */
}

.geral h1{
    text-transform: uppercase;
    padding-top: 3rem;
    margin-bottom: 3rem;
    font-size: 40px;
    display: flex;
    justify-content: center;
    border-radius: 2%;    
}

.geral p{
    font-weight: 400;
    
}

#header-img{
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    object-position: 50% 40%;
    opacity: 30%;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 85px;
    z-index: -1;
}

#header-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 30px;
}



#header-texto h3{
    display: flex;
    justify-content: center;
    font-family: 'Edo', sans-serif;  
    border-radius: 10%;
}
.navbar ul{
    list-style: none;
}

.navbar a{
    text-decoration: none;
    padding: 5px;
}

.navbar ul{
    display: flex ;
    justify-content: right ;
 /*    background: linear-gradient(
        to right,rgba(47, 15, 168,0),
        rgba(0,0,0,0.2)
    ); */
}

.navbar ul li{
    margin-right: 10px ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.navbar ul li a:hover{
    transition: 150ms;
    background-color: rgba(47, 15, 168,0.3);
    border-radius: 10%;
}

nav{
    display: flex;
    justify-content: space-between;
 /*   background: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(47, 15, 168,0.02)
    ); */
    padding: 5px;
}

#capa{
    margin-bottom: 10px;
}

.toggle-button{
    position: absolute;
    top: 1.9rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 31px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.navbar-links{
    display: flex;
    align-items: center;
}



#nd-logo{
    height: 70px;
    width: 70px;
}


#sobre-elements img{
    height: 400px;
    position: static;
}

#sobre-elements{
    display: flex;
    justify-content: space-evenly;
}



#sobre-p{
    max-width: 50%; /* Adjust the width responsively */
    width: auto; /* Ensures the width adjusts according to the content */
    font-size: 18px;
    overflow-wrap: normal;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
}

#ultimosl{
    
    background-color: var(--bgc-ultimosl);
}

#ultimosl-elements{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ultimosl-elements a{
    text-decoration: none;
}

#ultimosl-elements p{
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: var(--fontc-song-cards);
}

.ultimosl-sqr{
    padding: 1rem; /* TBD */
    padding-bottom: 0.1rem;
    background-color: var(--bgc-song-cards);
    margin-bottom: 1.5rem;
}

.ultimosl-sqr img{
    width: 500px; /* TBD */
    height: 500px; /* TBD */
    object-fit: cover;
    opacity: 90%;
}

#ultimosl-keukenhof{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ultimosl-id img{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;
    
}

#ultimosl-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 70px; 
    width: 70px; 
    border-radius: 5%;
}

.ultimosl-sqr img:hover{
    transition: 100ms;
    opacity: 100%;
    filter: saturate(110%);
} 

#ultimosl-logo:hover{
    filter: invert(6%);
}

#ultimosl-elements p:hover{
    
    transition: 80ms;
    background-color: rgba(7, 7, 7);
    color: var(--fontc-main);
    border-radius: 5%;
}

#obras{
    background-color: var(--bgc-obras);
    padding-bottom: 50px;
}

#obras-elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.obras-sqr img{
    width: 400px; /* TBD */
    height: 400px; /* TBD */
    object-fit: cover;
    opacity: 90%;
}

.obras-sqr img:hover{
    transition: 100ms;
    opacity: 100%;
    filter: saturate(130%);
} 

.obras-sqr a{
    text-decoration: none;

}

.obras-sqr p{
    margin-top: 10px;
    text-decoration: none;
}  

.plataformas-elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
}

.plataformas-sqr img{
        width: 80px;
        height: 80px;
        object-fit: cover;
}

#plataformas-bandcamp{
    opacity: 90%;
}

#plataformas-bandcamp:hover{
    transition: 100ms;
    opacity: 100%;
    size: 300px;
    filter: saturate(150%);
}

.plataformas-sqr{
    opacity: 50%;
}

.plataformas-sqr:hover{
    transition: 100ms;
    opacity: 100%;
}

.contactos-input{
    width: 500px;
    height: 30px;

}

#contactos-button{
    width: 200px;
}

#contactos-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contactos-button{
    border:none;
    background-color: var(--bgc-contactos-button);
    color: var(--bgc);
    font-family: 'Edo', 'Montserrat', sans-serif;
    font-size: larger;
}

#contactos-button:hover{
    transition: 61ms;
    border: outset 2px white;
    color: var(--bgc-contactos-button);
    background-color: transparent;
}

#contactos-email{
    border: solid 2px;
    border-color: rgba(0,0,0,0);
    border-radius: 5%;
    background-color: var(--fontc-contactos-button);
    color: var(--bgc-contactos-button);

}

#contactos-elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#contactos-instagram{
    filter: invert(100%);
}

#contactos-mail{
    filter: invert(100%);
}

.contactos-sqr img{
        width: 50px;
        height: 50px;
        object-fit: cover;
}

footer{
    background-color: var(--bgc-footer);
    border-radius: 5%;
}

.footer-sqr{
    width: 40px;
    height: 40px;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul{
    list-style: none;
}

footer a{
    font-size: 12px;
    text-decoration: none;
    padding: 5px;
    color: #b8b0fd;

}

footer ul li{
    margin: 10px;
    margin-top: 10;
}

footer ul li:hover{
    transition: 80ms;
    background-color: #b8b0fd;
    border-radius: 5%;
}

@media (max-width: 961px) {

    .geral {
        max-width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links{
        display: none;
       
        width: 100%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 5%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul{
        width: 100%;
        flex-direction: column;
       
    }

    .navbar-links.active{
        display: flex;
        margin-bottom: 250px;
    }

    .navbar-links.active a{
        font-size: 1.2rem;
    }

    #header-texto h3{
        display: none;
    }


    

    #sobre-elements{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #sobre-elements img{
        /*    aspect-ratio: 3/2; */
        height: 300px;
        width: 200px;
        display: flex;
    }

    #sobre-elements p{
        align-items: center;
        margin-left: 0px;
        width: auto; /* chatgpt */
        max-width: 90%; /* chatgpt */
       /* display: inline-block;  Add */
        margin: 3em; /* retirei -top da propriedade margin e pus 3em ao inves de 2em */
        flex-wrap: wrap;
        font-size: 15px;
        text-align: justify;
        text-justify: inter-word;
    }

    .ultimosl-sqr img{
        width: 300px;
        height: 300px;
        object-fit: cover;
        opacity: 90%;
    }

    #ultimosl-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        height: 50px;
        width: 50px;
        border-radius: 5%;
    }

    .obras-sqr img{
        width: 200px;
        height: 200px;
    }
}